    @font-face {
        font-family: 'Nunito';
        /*a name to be used later*/
        src: url(Fonts/Nunito-Bold.ttf);
        /*URL to font*/
    }
    
    @font-face {
        font-family: 'Amatic';
        src: url('Fonts/AmaticSC-Bold.ttf');
    }
    
    @font-face {
        font-family: 'Christmas-Bell';
        src: url('Fonts/Christmas-Bell.otf');
    }
    
    label,
    input,
    select {
        display: block;
    }
    
    input,
    select {
        margin-bottom: .5em;
    }
    
    legend {
        font-weight: bold
    }
    
    div.clear {
        clear: both;
    }
    
    div.break {
        clear: both;
        page-break-after: always;
        break-after: always;
    }
    
    table {
        background-color: black;
        border-collapse: collapse;
        width: 400px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    th {
        border: 1px solid black;
        text-align: center;
        height: 50px;
        font-size: 36px;
        color: white;
        font-family: 'Christmas-Bell';
        font-weight: lighter;
        background-image: url(Screenshot\ 2020-12-09\ 114416.png);
        text-shadow: black 2px 2px;
    }
    
    td {
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
        background-color: white;
        color: #5ba1da;
        font-family: 'Nunito', sans-serif;
        font-size: 200%;
        width: 30%;
    }
    
    #footer {
        border-top: 1px solid #ccc;
        clear: both;
    }
    
    #login-error-msg {
        opacity: 0;
    }
    
    h3,
    p {
        font-family: 'Nunito';
        text-align: center;
    }
    
    p {
        font-size: large;
    }
    
    h3 {
        font-size: xx-large;
    }
    
    #username-field,
    #login-form-submit {
        text-align: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: larger;
    }
    
    .mystyle {
        background-color: coral;
        color: white;
    }